nav.hero.is-dark.is-bold: .content.has-text-centered
  .hero-body( style="padding: 1rem; font-size: 0.875em; color: pink" )
    | Present by
    |
    a( href="https://github.com/shirohana", target="_blank" )
      | Hana Shiro
    |
    | under
    |
    a( href="asdas", target="_blank" )
      | MIT license
