extends /layouts/content

block content
  :markdown
    > Because some personal reason, this docs would not update temporarily.
    >
    > You can find some examples [here][examples], sorry for causing inconvenience (˘̩̩̩ ω ˘̩ƪ)
    >
    > We'll still updating [News] page, in higher frequency than version releasing.

    [examples]: https://github.com/shirohana/dynapi/tree/dev/examples
