extends /layouts/content

block content
  if lang === 'zh-TW'
    :markdown
      > 首頁，還沒有決定該擺些什麼，建議先去 [操作指南](/${lang}/guide) 隨意看看。
      >
      > Currently, only `Traditional Chinese` locale was provided until `en` locale has been completed, forgive me (´-ωก`)
  else
    :markdown
      > Homepage, it's not decided what to put on here now. You can look around [Examples](https://github.com/shirohana/dynapi/tree/dev/examples)
      >
      > Currently, only `Traditional Chinese` locale was provided until `en` locale has been completed, forgive me (´-ωก`)
